body {
    background: linear-gradient(to bottom, #1c1c1c, #222222 20%, #070707);
    color: #a0a0a0;
}

h1 {
}

#results > li {
    display: inline-block;
    height: 240px;
    width: 160px;
    background-size: auto 240px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 8px;
}

